# NYC Museum Map Blog

### Scrape data to get the full descriptions of each museum

In [5]:
# import beautifulsoup and set up link to scrape
import csv
import requests
import urllib.request
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/List_of_museums_in_New_York_City'
response = requests.get(url)
html = response.content

soup = BeautifulSoup(html, 'html.parser')

In [6]:
# metaphorically "throw net over" the content that we want.
rows = soup.findAll('tr')

In [7]:
# narrow down the details to get what we want
name = rows[4].td.text.strip('\n')
name

'AIGA National Design Center'

In [8]:
# getting "focus" or category of museum
focus = rows[4].td.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.text.strip('\n').title()
focus

'Design, Decorative Arts, Architecture'

In [9]:
# getting "summary" or description of museum
summary = rows[4].td.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.text.strip('\n').title()
summary

'Website, Public Gallery Of The Aiga Dedicated To Presenting Examples Of Outstanding Contemporary Design'

In [10]:
#show progress bar when we scrape. use this!
from tqdm import tqdm

### <i>After using code below, comment out to avoid running webscraper twice

### ScrapeLoop through Wikipedia with codes we wrote above, save data to CSV

In [12]:
# file = open('nycmuseumdata.csv', 'w')
# writer = csv.writer(file)

# writer.writerow(['name', 'focus', 'summary'])

# for i in tqdm(range(2, len(rows))):
#     for row in rows:
#         try:
#             name = rows[i].td.text.strip('\n')
#             focus = rows[i].td.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.text.strip('\n').capitalize()
#             summary = rows[i].td.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.next_sibling.text.strip('\n').capitalize()
#         except:
#             pass
#     writer.writerow([name, focus, summary])

# Merge datasets (dataframe(df) with location + df with data)

In [98]:
#successfully scraped museum data with focus and summary details
df_data = pd.read_csv('nycmuseumdata.csv')
df_data.head(10)

,name,focus,summary
0,9/11 Tribute Museum,American and ny history,History of the september 11 attacks and tours ...
1,African Burial Ground National Monument,African and african-american,Visitor center and memorial to an 18th-century...
2,AIGA National Design Center,"Design, decorative arts, architecture","Website, public gallery of the aiga dedicated ..."
3,A.I.R. Gallery,Contemporary art,Contemporary art by female artists
4,Alice Austen House,"Photography, film, new media","Home of photographer alice austen, also featur..."
5,American Academy of Arts and Letters,Contemporary art,Exhibitions of its members in american literat...
6,American Folk Art Museum,Folk art,American folk art
7,American Museum of Natural History,Nature,The world's largest natural history museum. in...
8,American Numismatic Society Museum,Financial,Exhibits of coins and medals from all periods ...
9,Americas Society,"Hispanic, latino, and caribbean",Exhibits of historic and contemporary art from...

In [99]:
# This is the other dataset with coordiantes from NYC gov
file = 'Museum Dataset.xlsx'
df_location = pd.read_excel(file) # plots df with coordinates/location details
df_location.head(3)

,the_geom,NAME,TEL,URL,ADRESS1,ADDRESS2,CITY,ZIP
0,POINT (-74.01375579519738 40.703816216918035),Alexander Hamilton U.S. Custom House,(212) 514-3700,http://www.oldnycustomhouse.gov/,1 Bowling Grn,NaN,New York,10004
1,POINT (-74.06303178855111 40.615120837755356),Alice Austen House Museum,(718) 816-4506,http://www.aliceausten.org/,2 Hylan Blvd,NaN,Staten Island,10305
2,POINT (-73.94729768541572 40.833853500753314),American Academy of Arts and Letters,(212) 368-5900,http://www.artsandletters.org/,633 W. 155th St.,NaN,New York,10032

In [100]:
# let's lowercase our columns and add an underscore between words for easy access
## uneccessary but I like doing this for future convenience
df_location.columns = [x.lower() for x in df.columns] # show columns
df_location.columns = [x.replace(' ', '_').lower() for x in df_location.columns] #lower case and replace spaces with '_' for accessibility
df_location.columns

Index(['the_geom', 'name', 'tel', 'url', 'adress1', 'address2', 'city', 'zip'], dtype='object')

In [101]:
# clean up so that coordinates can be used - remove leading white space, remove the word POINT
df_location['the_geom'] = df_location['the_geom'].apply(lambda x: x.strip('POINT').lstrip().replace(' ', ', '))
df_location['the_geom']

0      (-74.01375579519738, 40.703816216918035)
1      (-74.06303178855111, 40.615120837755356)
2      (-73.94729768541572, 40.833853500753314)
3       (-73.97810302110001, 40.76162497138548)
4        (-74.0396848374904, 40.69905626244391)
                         ...
125     (-73.99388579658319, 40.73807723317813)
126     (-73.99379427245329, 40.73795994708654)
127    (-73.99392890421056, 40.738015384101416)
128       (-73.99381737049632, 40.738045683847)
129    (-73.99386877223978, 40.737986764588406)
Name: the_geom, Length: 130, dtype: object

In [115]:
# merge "name" to get these two datasets together. Do an outer join to keep everything
df_final = df_location.merge(df_data, on='name', how='outer')
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306 entries, 0 to 305
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   the_geom  132 non-null    object
 1   name      306 non-null    object
 2   tel       130 non-null    object
 3   url       132 non-null    object
 4   adress1   132 non-null    object
 5   address2  15 non-null     object
 6   city      132 non-null    object
 7   zip       132 non-null    float64
 8   focus     181 non-null    object
 9   summary   223 non-null    object
dtypes: float64(1), object(9)
memory usage: 26.3+ KB

In [121]:
# take df_final to excel to fill in any missing data
## Some of the museums are spelled slightly different and could not be filled in properly. 
### I take it to excel to manually fill them in as there isn't too many.
df_final.to_excel('museum_cleaning.xlsx')

In [125]:
# now that I've filled in as much as I could, + 29 extra data points
df_final = pd.read_excel('museum_cleaning.xlsx').drop(columns='Unnamed: 0')
df_final.head()

,the_geom,name,tel,url,adress1,address2,city,zip,focus,summary
0,NaN,9/11 Tribute Museum,NaN,NaN,NaN,NaN,NaN,NaN,American and ny history,History of the september 11 attacks and tours ...
1,NaN,A.I.R. Gallery,NaN,NaN,NaN,NaN,NaN,NaN,Contemporary art,Contemporary art by female artists
2,NaN,African Burial Ground National Monument,NaN,NaN,NaN,NaN,NaN,NaN,African and african-american,Visitor center and memorial to an 18th-century...
3,NaN,AIGA National Design Center,NaN,NaN,NaN,NaN,NaN,NaN,"Design, decorative arts, architecture","Website, public gallery of the aiga dedicated ..."
4,"(-74.01375579519738, 40.703816216918035)",Alexander Hamilton U.S. Custom House,(212) 514-3700,http://www.oldnycustomhouse.gov/,1 Bowling Grn,NaN,New York,10004.0,NaN,NaN

In [141]:
# so this is how much we have now... 79 full data rows. However, I want more.
df_final[(df_final['the_geom'].notna()) & (df_final['summary'].notna())].reset_index().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     79 non-null     int64
 1   the_geom  79 non-null     object
 2   name      79 non-null     object
 3   tel       79 non-null     object
 4   url       79 non-null     object
 5   adress1   79 non-null     object
 6   address2  8 non-null      object
 7   city      79 non-null     object
 8   zip       79 non-null     float64
 9   focus     55 non-null     object
 10  summary   79 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 6.9+ KB

In [138]:
# query the rows with coordinates and no summary, let's see what else we could do to supplement -
## ...ok since there's 50 more ... that's all folks. Let me know if there's a better way than googling each one!
### we'll plot the 79 that we have now.
df_final[(df_final['the_geom'].notna()) & (df_final['summary'].isna())].reset_index()

,index,the_geom,name,tel,url,adress1,address2,city,zip,focus,summary
0,4,"(-74.01375579519738, 40.703816216918035)",Alexander Hamilton U.S. Custom House,(212) 514-3700,http://www.oldnycustomhouse.gov/,1 Bowling Grn,NaN,New York,10004.0,NaN,NaN
1,8,"(-74.0396848374904, 40.69905626244391)",American Immigration History Center,(212) 363-3200,http://www.ellisisland.org/,Ellis Island,NaN,New York,0.0,NaN,NaN
2,9,"(-73.99392890421056, 40.738015384101416)",American Jewish Historical Society,(212) 294-6160,http://www.ajhs.org/,15 W. 16th St.,NaN,New York,10011.0,NaN,NaN
3,12,"(-73.99388579658319, 40.73807723317813)",American Sephardi Federation / Sephardic House,(212) 294-8350,http://www.americansephardifederation.org/,15 W. 16th St.,NaN,New York,10011.0,NaN,NaN
4,20,"(-73.94654590494326, 40.83358228246046)",Audubon Terrace,NaN,http://www.washington-heights.us/history/archi...,Broadway at 155 Street,NaN,New York,10032.0,NaN,NaN
5,30,"(-73.87974874003561, 40.87823644134894)",Bronx Historical Society & Musem,(718) 881-8900,http://www.bronxhistoricalsociety.org/,3309 Bainbridge Ave,NaN,Bronx,10467.0,NaN,NaN
6,34,"(-73.94401601383748, 40.67450699609931)",Brooklyn Children's Museum,(718) 735-4400,http://www.brooklynkids.org/,145 Brooklyn Avenue,NaN,Brooklyn,11213.0,NaN,NaN
7,44,"(-74.00731553374261, 40.74789760206738)",Chelsea Art Museum,(212) 255-0719,http://www.chelseaartmuseum.org/,556 West 22nd Street,NaN,New York,10011.0,NaN,NaN
8,46,"(-73.97727391968168, 40.78587092106756)",Children's Museum of Manhattan,(212) 721-1234,http://www.cmom.org/,212 West 83rd Street,NaN,New York,10024.0,NaN,NaN
9,53,"(-73.93173408706043, 40.86492363574811)",Cloisters,(212) 923-3700,http://www.metmuseum.org/cloisters/,99 Margaret Corbin Drive,NaN,New York,10040.0,NaN,NaN
10,60,"(-73.97304190142106, 40.76210697296256)",Dahesh Museum,(212) 759-0606,http://www.daheshmuseum.org,580 Madison Avenue,NaN,New York,10022.0,NaN,NaN
11,63,"(-74.00613537578622, 40.747894926234274)",Dia Art Foundation,(212) 989 5566,http://www.diacenter.org/,535 W 22nd Street,NaN,New York,10011.0,Contemporary art,NaN
12,64,"(-73.94649318169672, 40.83330210970132)",Dia at the Hispanic Society,(845) 440-0100,http://www.diabeacon.org/,613 West 155th Street,NaN,New York,10032.0,NaN,NaN
13,65,"(-73.98731863959442, 40.757501085511855)",Discovery Times Square Exposition,(866) 987-9692,http://www.discoverytsx.com/nyc/,226 W 44th St,NaN,New York,1036.0,NaN,NaN
14,68,"(-73.99272306225821, 40.72495970416682)",East Village History Project,(212) 614-8702,http://leshp.org/,308 Bowery,NaN,New York,10012.0,NaN,NaN
15,91,"(-73.96174204015233, 40.77916564085246)",Goethe-Institut New York,(212) 439-8700,http://www.goethe.de/ins/us/ney/deindex.htm,1014 Fifth Avenue,NaN,New York,10028.0,NaN,NaN
16,107,"(-73.89098784384107, 40.87835786499017)",Holocaust Museum & Studies Center,(718) 817-7700,http://www.holocauststudies.org/,75 W 205th St,NaN,Bronx,10468.0,NaN,NaN
17,109,"(-74.01808694309555, 40.67557193487433)",Hudson Waterfront Museum and Showboat Barge,(718) 624-4719,http://www.waterfrontmuseum.org/,290 Conover St.,NaN,Brooklyn,11231.0,NaN,NaN
18,114,"(-73.93765514503832, 40.76695661305254)",Isamu Noguchi Garden Museum,(718) 204-7088,http://www.noguchi.org/,32-37 Vernon Boulevard,NaN,Long Island City,11106.0,NaN,NaN
19,115,"(-73.99749410687575, 40.719194628210495)",Italian American Museum,(212) 965-9000,http://www.italianamericanmuseum.org/,155 Mulberry St.,NaN,New York,10013.0,NaN,NaN
20,116,"(-74.00664185516354, 40.72335066225381)",Jackie Robinson Museum,(212) 290-8600,http://www.jackierobinson.org/,1 Hudson Square,75 Varick Street 2nd Floor,New York,10013.0,NaN,NaN
21,120,"(-73.94694494514727, 40.850220034849166)",Jeffrey's Hook lighthouse (Little Red Lighthouse),(212) 304-2365,http://www.nycgovparks.org/sub_about/parks_div...,178th Street at the Hudson River,NaN,New York,10033.0,NaN,NaN
22,125,"(-74.00965483733572, 40.75233019732761)",John J. Harvey Fireboat,NaN,http://www.fireboat.org/,Pier 66 at West 26th Street,NaN,New York,10001.0,NaN,NaN
23,130,"(-73.93514567999574, 40.74396007246262)",LaGuardia and Wagner Archives,(718) 482-5065,http://www.laguardiawagnerarchive.lagcc.cuny.e...,31-10 Thomson Ave.,Fiorello H. LaGuardia Community College/CUNY R...,Queens,11101.0,NaN,NaN
24,131,"(-73.98618833058292, 40.74719709497243)",Lee Young Hee Museum of Korean Culture,(212) 560-0722,http://www.lyhkm.org/,2 West 32nd Street,Suite 301,New York,10001.0,NaN,NaN
25,134,"(-73.99376449363902, 40.73802754297413)",Leo Baeck Institute,(212) 744-6400,http://www.lbi.org/,15 W. 16th St.,NaN,New York,10011.0,NaN,NaN
26,147,"(-73.97988117952895, 40.75078436678353)",Mexican Cultural Institute of New York,(212) 217-6422,http://www.lavitrina.com/,27 E. 39th St.,NaN,New York,10016.0,NaN,NaN
27,152,"(-73.98132148561602, 40.74929507249673)",Morgan Library and Museum,(212) 685-0008,http://www.themorgan.org/home.asp,225 Madison Avenue,NaN,New York,10016.0,NaN,NaN
28,157,"(-73.97499987035063, 40.75824830530754)",Municipal Art Society,(212) 935-3960,http://mas.org/,457 Madison Avenue,NaN,New York,10022.0,NaN,NaN
29,160,"(-73.92822391104288, 40.74634173827231)",Museum for African Art,(718) 784-7700,http://www.africanart.org/,36-01 43rd Avenue,3rd Floor,Queens,11101.0,NaN,NaN
30,164,"(-73.98272584235525, 40.77025240986238)",Museum of Biblical Art,(212) 408-1200,http://www.mobia.org/,1865 Broadway,NaN,New York,10023.0,NaN,NaN
31,166,"(-73.99670247583494, 40.7247979456424)",Museum of Comic and Cartoon Art (MoCCA),(212) 254 3511,http://www.moccany.org/,594 Broadway,Suite 401,New York,10012.0,NaN,NaN
32,167,"(-73.97442477664784, 40.68524514383062)",Museum of Contemporary African Diasporan Arts ...,(718) 230-0492,http://www.mocada.org/,80 Hanson Place,NaN,Brooklyn,11217.0,NaN,NaN
33,179,"(-74.07373713057605, 40.64094901557986)",National Lighthouse Museum,(718) 556-1681,http://statenislandusa.com/pages/lighthouse.html,1 Lighthouse Plaza,NaN,Staten Island,10301.0,NaN,NaN
34,180,"(-74.01372704598201, 40.704321256986034)",National Museum of the American Indian,(212) 514-3700,http://www.nmai.si.edu/,1 Bowling Green,NaN,New York,10004.0,NaN,NaN
35,189,"(-74.00811754401903, 40.70347829082743)",New York City Police Museum,(212) 480-3100,http://www.nycpolicemuseum.org/,100 Old Slip,NaN,New York,10038.0,NaN,NaN
36,192,"(-73.97425753844574, 40.77927324139346)",New York Historical Society,(212) 873-3400,https://www.nyhistory.org/web/,2 West 77th Street,NaN,New York,10024.0,NaN,NaN
37,196,"(-73.9791241123914, 40.752422920262084)",New York Tolerance Center,(212) 697-1180,http://www.kintera.org/site/pp.asp?c=fwLYKnN8L...,50 E 42nd St,NaN,New York,10017.0,NaN,NaN
38,206,"(-73.94621241792795, 40.74583946863492)",P.S. 1 Contemporary Art Center,(718) 784-2084,http://www.ps1.org/,22-25 Jackson Ave.,NaN,Queens,11101.0,NaN,NaN
39,211,"(-73.89314845618621, 40.76460725545623)",Queens Art Museum - Bulova Corporate Center,(516) 624-1910,http://www.bdg.net/properties/1/,75-20 Astoria Blvd.,NaN,Jackson Heights,11386.0,NaN,NaN
40,216,"(-73.97257491067647, 40.78285983221266)",Rose Center for Earth and Space (Hayden Planet...,(212) 769-5100,http://www.haydenplanetarium.org/index.php,15 West 81st Street,NaN,New York,10024.0,NaN,NaN
41,219,"(-73.9799105035754, 40.765012313344094)",Rose Museum at Carnegie Hall,(212) 903-9629,http://www.carnegiehall.org/textSite/the_basic...,154 West 57th Street,NaN,New York,0.0,NaN,NaN
42,224,"(-73.98224232560065, 40.73875919099525)",School of Visual Arts Museum,(212) 592-2145,http://www.schoolofvisualarts.edu/sa/index.jsp...,209 E. 23rd St.,NaN,New York,10010.0,NaN,NaN
43,229,"(-73.95891102040586, 40.78300947618501)",Solomon R. Guggenheim Museum,(212) 423-3500,http://www.guggenheim.org/,1071 Fifth Avenue,NaN,New York,10128.0,NaN,NaN
44,230,"(-73.9735078210536, 40.76147030101873)",Sony Wonder Technology Lab,(212) 833-8100,http://wondertechlab.sony.com/,550 Madison Ave,Sony Plaza,New York,10022.0,NaN,NaN
45,237,"(-73.98967904824913, 40.718687698398995)",Tenement Museum,(212) 431-0233,http://www.tenement.org/,108 Orchard Street,NaN,New York,10002.0,NaN,NaN
46,240,"(-73.98501448982452, 40.719616728018636)","The Freakatorium, El Museo Loco",(212) 375-0475,http://www.freakatorium.com/,57 Clinton St.,NaN,New York,10002.0,NaN,NaN
47,241,"(-73.9380587417615, 40.80527638435791)",The Jazz Museum in Harlem,(212) 348-8300,http://www.jazzmuseuminharlem.org/,104 E. 126th Street,Suite 2D,New York,10035.0,NaN,NaN
48,242,"(-73.94196177006319, 40.66891157732498)",The Jewish Children's Museum,(718) 467-0600,http://www.jcmonline.org/,792 Eastern Pkwy,NaN,Brooklyn,11213.0,NaN,NaN
49,245,"(-73.99392966775832, 40.74700837582729)",The Museum at FIT,(212) 217-5800,http://www.fitnyc.edu/306.asp,7th Avenue at West 27th Street,NaN,New York,10001.0,NaN,NaN
50,266,"(-73.99379427245329, 40.73795994708654)",YIVO Institute for Jewish Research,(212) 246-6860,http://www.yivoinstitute.org/,15 W. 16th St.,NaN,New York,10011.0,NaN,NaN

##### save current final dataframe into csv or xlsx for Tableau to read, comment out when done

In [140]:
# df_final.to_csv('final_museum.csv')